* {
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    text-align: center;
    justify-content: center;
}

.Container {
    background-color:white;
    width: 1000px;
    height: 500px;
    border: groove 1px;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}